<main class="login-page">
  <div class="login-page__container">
    <div class="login-page__header">
      <a href="/login" class="button_outline">Вход</a>
      <a href="/register" class="button_fill">Регистрация</a>
    </div>
    <form class="login-page__form">
      <div class="login-page__input-group">
        {{{emailInput}}}
        {{{loginInput}}}
        {{{firstNameInput}}}
        {{{secondNameInput}}}
        {{{phoneInput}}}
        {{{passwordInput}}}
        {{{repeatPasswordInput}}}
      </div>
      <button type="submit" class="button_main">Зарегистрироваться</button>
    </form>
  </div>
</main>