<div class="search-chat">
    <div class="search-chat__header">
        <div class="search-chat__header__user">
            <div class="search-chat__header__user__avatar">
                <img src="{{avatar}}" alt="{{name}}" class="search-chat__header__user__avatar-img">
            </div>
            <div class="search-chat__header__user__info">
                <span class="search-chat__header__user__info__name" title="{{name}}">{{name}}</span>
                <span class="search-chat__header__user__info__email" title="{{email}}">{{email}}</span>
            </div>
        </div>
        <button class="search-chat__header__button">
            Профиль >
        </button>
    </div>
    {{{searchInput}}}
</div>
