<main class="profileInfo">
    <div class="profileInfo__header">
        <button class="profileInfo__header__button" data-page="chat">
            < Назад
        </button>
    </div>
    <div class="profileInfo__user">
        <div class="profileInfo__user__avatar">
            <img src="{{avatar}}" alt="{{name}}" class="profileInfo__user__avatar-img">
        </div>
        <div class="profileInfo__user__input-group">
            {{#if isView}}
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{phoneInput}}}
            {{/if}}
            {{#if isEdit}}
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{phoneInput}}}
            {{/if}}
            {{#if isEditPassword}}
                {{{passwordInput}}}
                {{{repeatPasswordInput}}}
            {{/if}}
        </div>
    </div>
    {{#if isView}}
        <div class="profileInfo__button-group">
            <button class="button_dark">
                Выйти
            </button>
            <button class="button_main" data-profile-info="edit">
                Изменить данные
            </button>
            <button class="button_main" data-profile-info="edit-password">
                Изменить пароль
            </button>
        </div>
    {{/if}}
    {{#if isEdit}}
        <div class="profileInfo__button-group">
            <button class="button_dark" data-profile-info="view">
                Отмена
            </button>
            <button class="button_main" data-profile-info="view">
                Сохранить
            </button>
        </div>
    {{/if}}
    {{#if isEditPassword}}
        <div class="profileInfo__button-group">
            <button class="button_dark" data-profile-info="view">
                Отмена
            </button>
            <button class="button_main" data-profile-info="view">
                Сохранить
            </button>
        </div>
    {{/if}}
</main>