<main class="profileInfo">
    <div class="profileInfo__header">
        <button class="profileInfo__header__button" data-page="chat">
            < Назад
        </button>
    </div>
    <div class="profileInfo__user">
        <div class="profileInfo__user__avatar">
            <img src="{{avatar}}" alt="{{name}}" class="profileInfo__user__avatar-img">
        </div>
        <div class="profileInfo__user__input-group">
            {{{emailInput}}}
            {{{loginInput}}}
            {{{firstNameInput}}}
            {{{secondNameInput}}}
            {{{phoneInput}}}
        </div>
    </div>
    <div class="profileInfo__button-group">
        <button class="button_dark">
            Выйти
        </button>
        <button class="button_main">
            Изменить данные
        </button>
        <button class="button_main">
            Изменить пароль
        </button>
    </div>
</main>